@import "variables.css";

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family-base), system-ui;
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
    line-height: var(--font-body-line);
    background-color: var(--color-background);
    color: var(--color-text-main);
    padding: 0 48px;

    font-kerning: normal;
    font-feature-settings: "kern" 1;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: var(--font-h1-size);
    font-weight: var(--font-h1-weight);
    line-height: var(--font-h1-line);
    margin: 0;
}

h2 {
    font-size: var(--font-h2-size);
    font-weight: var(--font-h2-weight);
    line-height: var(--font-h2-line);
    margin: 0;
}

h3 {
    font-size: var(--font-h3-size);
    font-weight: var(--font-h3-weight);
    line-height: var(--font-h3-line);
    margin: 0;
}

h1, h2, h3 {
    font-kerning: normal;
    font-feature-settings: "kern", 1;
    letter-spacing: 0;
}

a {
    color: var(--color-main);
    text-decoration: none;
}

p {
    margin: 0;
}

button, textarea, input, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

.caption {
    font-size: var(--font-caption-size);
    font-weight: var(--font-caption-weight);
    line-height: var(--font-caption-line);
}

.body-accent {
    font-size: var(--font-body-accent-size);
    font-weight: var(--font-body-accent-weight);
    line-height: var(--font-body-accent-line);
}

.textarea-code {
    font-family: var(--font-family-mono), ui-monospace;
    font-size: var(--font-mono-size);
    font-weight: var(--font-mono-weight);
    line-height: var(--font-mono-line);
}

.main {
    padding: var(--grid-margin) 0;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    gap: var(--grid-gutter);
    grid-template-areas: ". . main main main main main main main main . .";
    box-sizing: border-box;
}

.page {
    min-height: 100vh;
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr;
}

.footer {
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: start;
    color: var(--color-text-secondary);
}

@media (max-width: 1200px) {
    :root {
        --grid-columns: var(--grig-tablet-columns);
        --grid-content-columns: var(--grid-content-columns-tablet);
        --grid-gutter: var(--grig-tablet-gutter);
        --grid-margin: var(--grig-tablet-margin);

        --header-height: var(--header-height-tablet);
        --footer-height: var(--footer-height-tablet);
    }

    .page {
        max-width: 704px;
    }

    .main {
        grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
        grid-template-areas: "main main main main main main main main";
        gap: var(--grid-gutter);
    }
}

@media (max-width: 640px) {
    :root {
        --grid-columns: var(--grid-mobile-columns);
        --grid-content-columns: var(--grid-content-columns-mobile);
        --grid-gutter: var(--grid-mobile-gutter);
        --grid-margin: var(--grid-mobile-margin);

        --header-height: var(--header-height-mobile);
        --footer-height: var(--footer-height-mobile);

        --font-h1-size: var(--font-h2-size-base);
        --font-h1-weight: var(--font-h2-weight-base);
        --font-h1-line: var(--font-h2-line-base);

        --font-h2-size: var(--font-h3-size-base);
        --font-h2-weight: var(--font-h3-weight-base);
        --font-h2-line: var(--font-h3-line-base);
    }

    .page {
        max-width: 328px;
    }

    .main {
        grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
        grid-template-areas: "main main main main";
        gap: var(--grid-gutter);
    }

    .footer {
        display: none;
    }
}