.button {
    height: 40px;
    border: solid 1px;
    border-radius: var(--radius-xs);
    padding: 8px 16px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 2px solid var(--color-main);
    outline-offset: 2px;
}

.button-primary {
    background-color: var(--color-main);
    color: var(--color-surface);
}

.button-primary:hover {
    opacity: 85%;
}

.button-primary-disabled {
    background-color: var(--color-border);
    color: var(--color-surface);
}

.button-secondary {
    background-color: var(--color-surface);
    color: var(--color-main);
    border: 1px solid var(--color-main);
}

.button-secondary:hover {
    background-color: #3B82F61A;
}

.button-link {
    color: var(--color-main);
    border: none;
}

.button-link:hover {
    color: #3B82F6CC;
}