.choice {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-s);
    cursor: pointer;
}

.choice--error {
    border-color: var(--color-error);
}

.choice--success {
    border-color: var(--color-success);
}

.choice--error .choice__box {
    border-color: var(--color-error);
}

.choice--success .choice__box {
    border-color: var(--color-success);
}

.choice--error .choice__label {
    color: var(--color-error);
}

.choice--success .choice__label {
    color: var(--color-success);
}

.choice:hover {
    background: color-mix(in srgb, var(--color-main) 10%, transparent);
}

.choice__input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.choice__box {
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid var(--color-main);
    border-radius: var(--radius-xs);
}

.choice__box::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    opacity: 0;
    transform: scale(0.9);
}

.choice:not(.choice--radio) .choice__box::after {
    inset: 0;
}

.choice--radio .choice__box::after {
    inset: 4px !important;
    background-size: 10px 10px;
}

.choice__input:checked + .choice__box::after {
    opacity: 1;
    transform: scale(1);
}

.choice:not(.choice--radio) .choice__input:checked + .choice__box {
    background: var(--color-main);
}

.choice:not(.choice--radio) .choice__input:checked + .choice__box::after {
    background-image: url("../../assets/check.svg");
}

.choice--success:not(.choice--radio) .choice__input:checked + .choice__box {
    background: var(--color-success);
}

.choice--error:not(.choice--radio) .choice__input:checked + .choice__box {
    background: var(--color-error);
}

.choice--success:not(.choice--radio) .choice__input:checked + .choice__box::after {
    background-image: url("../../assets/check.svg");
}

.choice--error:not(.choice--radio) .choice__input:checked + .choice__box::after {
    background-image: url("../../assets/error.svg");
}

.choice--radio .choice__box {
    border-radius: 999px;
}

.choice--radio:not(.choice--success):not(.choice--error)
.choice__input:checked + .choice__box {
    background: transparent;
}

.choice--radio:not(.choice--success):not(.choice--error)
.choice__input:checked + .choice__box::after {
    background: var(--color-main);
    background-image: none;
}

.choice--radio:not(.choice--success):not(.choice--error) .choice__input:checked + .choice__box::after {
    background-image: none;
}

.choice--radio.choice--success .choice__input:checked + .choice__box,
.choice--radio.choice--error .choice__input:checked + .choice__box {
    background: transparent;
}

.choice--radio.choice--success .choice__input:checked + .choice__box::after {
    background-image: url("../../assets/check-green.svg");
}

.choice--radio.choice--error .choice__input:checked + .choice__box::after {
    background-image: url("../../assets/error-red.svg");
}

.choice:not(.choice--success):not(.choice--error):has(.choice__input:checked) {
    border-color: var(--color-main);
}

.choice__input:disabled ~ * {
    cursor: not-allowed;
    color: var(--color-border);
}

.choice__input:disabled + .choice__box {
    border-color: var(--color-border);
    background: var(--color-border);
}

.choice__tip {
    color: var(--color-text-secondary);
    padding: 0 16px;
}