.header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    position: relative;
    background-color: var(--color-background);
    z-index: 1;
    box-sizing: border-box;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 8px;
}

.header__link {
    text-decoration: none;
    color: var(--color-main);
    font-weight: var(--font-body-accent-weight);
}

.header__menu {
    display: none;
    background: none;
    border: 0;
    padding: 8px 0;
    margin-right: -8px;
    cursor: pointer;
}

.header__menu__img {
    display: block;
    width: 24px;
    height: 24px;
}

.header__nav.header__menu-mobile {
    justify-content: end;
}

.header__menu-icon {
    display: block;
}

.header__menu-icon--close {
    display: none;
}

.header.header__menu-open .header__menu-icon--open {
    display: none;
}

.header.header__menu-open .header__menu-icon--close {
    display: block;
}

@media (max-width: 1200px) {
    .header {
        max-width: 704px;
    }
}

@media (max-width: 640px) {
    .header {
        border-bottom: 1px solid var(--color-main)
    }

    .header__nav {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--color-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 8px;
        box-sizing: border-box;
        transform: translateY(calc(100% + var(--header-height)));
        transition: transform 0.3s ease;
        z-index: 0;
    }

    .header.header__menu-open .header__nav {
        transform: translateY(0);
    }

    .header__menu {
        display: block;
    }

    .header__nav .btn {
        border: none;
        color: var(--color-text-main);
        background: none;
        text-align: start;
        padding: 8px 0;
    }

    .header__nav-item {
        max-width: 328px;
        width: 100%;
        border-top: 1px solid var(--color-main) !important;
        border-radius: 0 !important;
    }
}