.header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    position: relative;
    background-color: var(--color-background);
    z-index: 1;
    box-sizing: border-box;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}