.main {
    grid-template-areas: "quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes";
}

.quizzes {
    grid-area: quizzes;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
}

.quizzes-list__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quizzes-list__title {

}

.quizzes-list {
    display: grid;
    grid-template-columns: repeat(var(--grid-content-columns), minmax(0, 1fr));
    gap: 24px;
    box-sizing: border-box;
}

.quiz-empty {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 8px;
}

.quiz-empty__title {

}

.quiz-empty__subtitle {
    color: var(--color-text-secondary);
    margin-bottom: 8px;
}

.quiz-empty__action {
    align-self: start;
}

@media (max-width: 1200px) {
    .main {
        grid-template-areas: "quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes";
    }
}

@media (max-width: 640px) {
    .main {
        grid-template-areas: "quizzes quizzes quizzes quizzes";
    }

    .quizzes {
        position: relative;
    }

    .quiz-empty__action {
        position: absolute;
        bottom: 0;

        width: 100%;
    }
}